/node_modules
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
mysql/
.gitattributes
public/mix-manifest.json
public/css
public/js
public/modules
public/uploads
public/images/layouts/layout_images.psd
public/storage
ssl
